.delete-image {
  color: #475569;
  font-size: 12px;
}
.history-list-individual {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.delete-image {
  border: none;
  background-color: transparent;
}
.timeAccessed {
  margin-right: 40px;
  font-family: 'Roboto';
}
.logoUrl {
  margin-right: 40px;
  font-family: 'Roboto';
  width: 28px;
  margin-top: 10px;
}
.title {
  margin-right: 40px;
  font-family: 'Roboto';
}
.domainUrl {
  margin-left: 20px;
  color: #64748b;
}
.history-items {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
